

<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
  <ul>
      <li><%= image_tag("logo.png", size: "120x50")%></li>
      <li>Hello Movies </li>
      <li>Home</li>
      <span class="dropdown" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag("avatar.png", size: "60x70")%>
          <a href="javascript:void(0)" class="dropbtn"></a>
            <div class="dropdown-content">
              <a href="#">Profile</a>
                <a href="#">Log out</a>
                </div>
                </span>
              </ul>
            </div>
          </div>
  </nav>
</header>
